<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600373848684-bq82ch7uv7m2gg8rd3lsmg8i6i6veanm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600373848684-bq82ch7uv7m2gg8rd3lsmg8i6i6veanm</string>
	<key>API_KEY</key>
	<string>AIzaSyB7NUPbLsgcgo1Ngbe6vhsU-z4ocXJwcEk</string>
	<key>GCM_SENDER_ID</key>
	<string>600373848684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RayanTaj.HackathonApp</string>
	<key>PROJECT_ID</key>
	<string>hackathon-project-645ca</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-project-645ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600373848684:ios:50bd6b3a2144b4ef438649</string>
</dict>
</plist>